BROWSERSTACK_USE_AUTOMATE="1"
BROWSERSTACK_USERNAME="SOMEWIERDUSER"
BROWSERSTACK_ACCESS_KEY="ACCESSKEY"
BROWSERSTACK_PROJECT_NAME="PROJECTNAME"
BROWSERSTACK_BUILD_ID="BUILD"

TESTING_ENDPOINT="https://www.yourendpoint.net"
CUSTOMER_EMAIL=""
CUSTOMER_PASSWORD=""